{% extends 'base.html' %}

{% set header_class="auth_header" %}

{% block header_body %}
{% endblock %}


{% block main_body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <p class="navbar-text"><a href="{{ url_for('openweathermap.index') }}"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>Current Weather Data</a></p>

            <ol class="breadcrumb navbar-right">
                <li class="active"><a href="{{ url_for('openweathermap.index') }}">Home</a></li>
                <li class="active"><a href="{{ url_for('openweathermap.logout_view') }}">Logout</a></li>

            </ol>
        </div>
    </nav>


    <div id="complete_service_catalog">
        <h1>APIs</h1>
        <h2>Service Token Endpoints</h2>
            <table class="table-striped table">
            <thead><tr><th>Service Name</th><th>DFW</th><th>IAD</th><th>ORD</th><th>LON</th><th>HKG</th><th>SYD</th></tr></thead>
            <tbody>

            </tbody>
            </table>

    </div>

{% endblock %}

