{% extends 'base.html' %}

{% set header_class="auth_header" %}

{% block header_body %}
{% endblock %}


{% block main_body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <p class="navbar-text"><a href="{{ url_for('rackspacecloud.index') }}dfw"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span>DFW</a></p>
            <p class="navbar-text "><a href="{{ url_for('rackspacecloud.index') }}iad"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span>IAD</a></p>
            <p class="navbar-text "><a href="{{ url_for('rackspacecloud.index') }}ord"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span>ORD</a></p>
            <p class="navbar-text "><a href="{{ url_for('rackspacecloud.index') }}lon"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span>LON</a></p>
            <p class="navbar-text "><a href="{{ url_for('rackspacecloud.index') }}hkg"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span>HKG</a></p>
            <p class="navbar-text "><a href="{{ url_for('rackspacecloud.index') }}syd"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span>SYD</a></p>

            <ol class="breadcrumb navbar-right">
                <li class="active"><a href="{{ url_for('rackspacecloud.index') }}">Home</a></li>
                <li class="active"><a href="{{ url_for('rackspacecloud.logout_fn') }}">Logout</a></li>
                <li class="active"><a href="{{ url_for('rackspacecloud.auth_token_view') }}">View Token</a></li>

            </ol>
        </div>
    </nav>

    {% if g.user_info.token %}
        <span class="auth_expiretime">Expires in :</span>
        {% if g.user_info.token_seconds_left <= 0 %}
            Auth as expired
        {% else %}
            {% if g.user_info.token_seconds_left > 7200 %}
                {{ (g.user_info.token_seconds_left/3600)|int }} hour(s)
            {% elif g.user_info.token_seconds_left > 60 %}
                {{ (g.user_info.token_seconds_left/60)|int }} minute(s)
            {% else %}
                {{ g.user_info.token_seconds_left }} seconds.
            {% endif %}
        {% endif %}
        <br>

        <div class="auth_token">
            See complete auth <a href="{{ url_for("rackspacecloud.auth_token_view") }}">here</a><br>
        </div>
        <div class="refresh_token">
            <a href="{{ url_for("rackspacecloud.refresh_auth_fn") }}">Refresh auth info</a><br>
        </div>
    {%  endif %}

    <div id="complete_service_catalog">
        <h1>APIs</h1>
        <h2>Service Token Endpoints</h2>
            <table class="table-striped table">
            <thead><tr><th>Service Name</th><th>DFW</th><th>IAD</th><th>ORD</th><th>LON</th><th>HKG</th><th>SYD</th></tr></thead>
            <tbody>

            {% for role in g.user_info.service_catalog_list %}
                {% set service_urls = {} %}

                {% for endpoint in role.endpoints %}
                    {% if not endpoint.region %}
                        {% do service_urls.update({'global': endpoint.publicURL})  %}
                    {% else %}
                        {% do service_urls.update({endpoint.region: endpoint.publicURL})  %}
                    {% endif %}
                {% endfor %}

                {% if 'global' in service_urls %}
                    <tr>
                    <td>
                    {{ role.name }}
                    </td>
                    <td colspan="6">
                        <a href="{{ url_for("rackspacecloud.service_catalog_list", servicename=role.name, region="DFW") }}">{{ service_urls.global }}</a>
                    </td>
                    </tr>
                {% endif %}
                {% if 'global' not in service_urls %}
                    <tr>
                        <td>
                            {{ role.name }}
                        </td>
                        <td>
                            {% if service_urls.DFW %}<a href="{{ url_for("rackspacecloud.service_catalog_list", servicename=role.name, region="DFW") }}">{{ service_urls.DFW }}{% else %}N/A</a>{% endif %}
                        </td>
                        <td>
                            {% if service_urls.IAD %} <a href="{{ url_for("rackspacecloud.service_catalog_list", servicename=role.name, region="IAD") }}">{{ service_urls.IAD }}{% else %}N/A</a>{% endif %}
                        </td>
                        <td>
                            {% if service_urls.ORD %}<a href="{{ url_for("rackspacecloud.service_catalog_list", servicename=role.name, region="ORD") }}">{{ service_urls.ORD }}</a>{% else %}N/A{% endif %}
                        </td>
                        <td>
                            {% if service_urls.LON %}<a href="{{ url_for("rackspacecloud.service_catalog_list", servicename=role.name, region="LON") }}">{{ service_urls.LON }}</a>{% else %}N/A{% endif %}
                        </td>
                        <td>
                            {% if service_urls.HKG %}<a href="{{ url_for("rackspacecloud.service_catalog_list", servicename=role.name, region="HKG") }}">{{ service_urls.HKG }}</a>{% else %}N/A{% endif %}
                        </td>
                        <td>
                            {% if service_urls.SYD %}<a href="{{ url_for("rackspacecloud.service_catalog_list", servicename=role.name, region="SYD") }}">{{ service_urls.SYD }}</a>{% else %}N/A{% endif %}
                        </td>
                    </tr>
                {% endif %}

            {% endfor %}
            </tbody>
            </table>
        <h2>Other Endpoints</h2>
        <table class="table-striped table">
            <thead><tr><th>Service Name</th><th>URL</th></tr></thead>
            <tbody>
                <tr><td>cloudIdentity</td><td><a href="{{ url_for("rackspacecloud.service_catalog_list", servicename='cloudIdentity', region="all") }}">https://identity.api.rackspacecloud.com/v2.0/</a></td></tr>
            </tbody>
        </table>

    </div>

{% endblock %}

