pre {
    background: #eeeeee;
}

.status_code_bad_request {
    color: orange;
}

.status_code_ok {
    color: green;
}

.status_code_redirect {
    color: black;
}

.status_code_unknown {
    color: darkslategray;
}

.response_time_bad {
    color: red;
}

.response_time_great, .response_time_good {
    color: blue;
}